<strong>Olá, {{ deliveryman }}</strong>
<p>O produto foi cancelado, confira os detalhes abaixo: </p>
<p>
  <strong>Nome do Produto:</strong:> {{ product }} <br />
  <strong>Nome do Destinatário:</strong:> {{ recipient }} <br />
  <strong>Rua:</strong:> {{ street }} <br />
  <strong>Numero:</strong:> {{ number }} <br />
  <strong>Cidade:</strong:> {{ city }}
  <strong> - UF:</strong:> {{ state }} <br />
  <br />
</p>
